<table id="table">
  <thead>
    <tr>
      <th title="ID книги" style="width:3.5%">ID</th>
      <th title="Название книги" style="width:23%">Название книги</th>
      <th title="Автор(ы)" style="width:15%">Авторы</th>
      <th title="Описание" style="width:24%">Описание</th>
      <th title="Год издания" style="width:5%">Год</th>
      <th title="Страниц" style="width:5%">Стр.</th>
      <th title="Просмотров книги" style="width:5%">Просм</th>
      <th title="Хотят прочитать" style="width:5%">Хотят</th>
      <th title="Удалена" style="width:5%">Удалена</th>
      <th title="Действие" style="width:10%">Действие</th>
    </tr>
  </thead>
  <tbody>
    <% if(books.length) { %>
      <% books.forEach((book)=> { %>
        <tr>
          <td><%= book.id %></td>
          <td title="<%= book.name %>"><%= book.name %></td>
          <td title="<%= book.authors %>"><%= book.authors %></td>
          <td title="<%= book.description %>"><%= book.description %></td>
          <td><%= book.year %></td>
          <td><%= book.pages %></td>
          <td><%= book.views %></td>
          <td><%= book.clicks %></td>
          <td><%= book.deleted %></td>
            <% if(book.deleted) { %>
              <td><a href="#" onclick="recoverBook('<%= book.id %>')">Попробовать восстановить</a></td>
              <% } else { %>
                <td><a href="#" onclick="deleteBook('<%= book.id %>')">Удалить</a></td>
              <% } %>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>